body {
    background-color: #E9F4FF;
    font-family: sans-serif;
}

#ui-datepicker-div {
    display: none;
}

h1 {
    color: #5FB1E1;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 3px solid #5FB1E1;
}

input {
    font-size: 16px;
    width: 300px;
    margin: 0px 0px 15px 0px !important;
}

label {
    display: block;
    margin: 0px;
    font-size: 14px;
}

input.submit {
    clear: both;
    display: block;
}

select {
    font-size: 16px;
    width: 300px;
    margin: 0px;
    margin-bottom: 10px;
}

div.left {
    margin-right: 30px;
}

div#container {
    background-color: white;
    color: #222222;
    border-left: 1px solid #ACE;
    border-right: 1px solid #ACE;
    border-bottom: 1px solid #ACE;
    min-height: 100%;

}

div#header {
    background-color: #F4FAFF;
    border-bottom: 1px solid #E9F4FF;
    padding: 18px 24px;
    height: 70px;
}

div#header div#logo {    
    background: url('../graphics/task_master.png') transparent center center no-repeat;
    width: 398px;
    height: 64px;
    display: inline-block;
}

div#header div#logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

div#header div#login-box {
    padding: 10px 5px 10px 15px;
    width: 270px;
    float: right;
    background-color: #d5eaff;
    border: 1px solid #E9F4FF;
    border-radius: 10px 10px 10px 10px;
}

div#header div#login-box a {
    float: right;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../graphics/logout.png') transparent center center no-repeat;
}

div#main-menu {
    width: 100%;
    height: 32px;
    background-color: #5FB1E1;
    padding: 5px 0px;
}

div#main-menu ul {
    padding: 0px;
    margin: 0px;
}

div#main-menu ul li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

div#main-menu ul li a,
div#main-menu ul li a:visited,
div#main-menu ul li a:hover,
div#main-menu ul li a:active, 
div#main-menu ul li a:link {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    
}

div#main-menu ul li a.icon {
    padding-left: 36px;
}

div#main-menu ul li a.active {
    color: black;
}


div#main-menu ul li a.icon#icon-user {
    background: url('../graphics/icons/user.png') transparent left bottom no-repeat;
}

div#main-menu ul li a.icon#icon-all-tasks {
    background: url('../graphics/icons/tasks.png') transparent left bottom no-repeat;
}

div#main-menu ul li a.icon#icon-new-tasks {
    background: url('../graphics/icons/new_task.png') transparent left bottom no-repeat;
}

div#main-menu ul li a.icon#icon-my-tasks {
    background: url('../graphics/icons/my_tasks.png') transparent left bottom no-repeat;
}

div#main-menu ul li a.icon#icon-tag {
    background: url('../graphics/icons/tag.png') transparent left bottom no-repeat;
}

div#body {
    min-height: 500px;
    padding: 18px 24px;
}

div#footer {
    height: 35px;
    padding: 10px 24px;    
    background-color: #F4FAFF;
    border-top: 1px solid #E9F4FF;
}

div#footer div#flags {
    float: left;
    display: none;
}

div#footer div#flags a.flag  {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 10px;
}

div#footer div#flags a.flag#cs {
    background: url('../graphics/flags/flag_cs.png') transparent center center no-repeat;
}

div#footer div#flags a.flag#en {
    background: url('../graphics/flags/flag_gb.png') transparent center center no-repeat;
}

div#footer div#copyright {
    float: right;
    margin-top: 10px;
}

/*---[ Tasks ]----------------------------------------------------------------*/

div#tasks {
    width: 650px;
}

div#tasks div.full-progress {
    background-color: #CCCCCC;
    width: 100%;
    border-radius: 10px 10px 50px 50px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
    
}

div#tasks div.full-progress span.percent {
    float: right;
    margin-right: 8px;
    margin-top: 3px;
    font-weight: bold;
}

div#tasks div.progress {
    min-height: 100px;
    background-color: #87CC15;
    border-radius: 10px 10px 50px 50px;
    margin-bottom: -10px;
    padding-top: 12px;
}



div#tasks div.progress div.state {
    float: left;
    margin-top: -30px;
    color: white;
    font-weight: bold;
}

div#tasks div.progress div.task  {
    background-color: #D5EAFF;
    width: 650px;
    min-height: 100px;
    border-radius: 10px;
    margin-top: 10px;
}

div#tasks div.progress div.task h2 {
    display: inline-block;
    font-size: 20px;
}

div#tasks div.progress div.task h2 a,
div#tasks div.progress div.task h2 a:link,
div#tasks div.progress div.task h2 a:hover,
div#tasks div.progress div.task h2 a:visited,
div#tasks div.progress div.task h2 a:active {
    text-decoration: none;
    font-weight: bold;
    color: #3E8FC6;
}

div#tasks div.progress div.task div.content {
    padding: 10px;
}

div#tasks div.progress div.task div.type {
    float: right;
    font-weight: bold;
    
}

div#tasks div.progress div.task div.content div.tags div.tag {
    display: inline-block;
    margin-left: 5px;
    background-color: #5FB1E1;
    padding: 4px 8px;
    border-radius: 5px;
    margin-bottom: 8px;
}

div#tasks div.progress div.task div.content div.tags div.tag a,
div#tasks div.progress div.task div.content div.tags div.tag a:link,
div#tasks div.progress div.task div.content div.tags div.tag a:hover,
div#tasks div.progress div.task div.content div.tags div.tag a:active,
div#tasks div.progress div.task div.content div.tags div.tag a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 19px;
    background: url('../graphics/icons/small_tag.png') transparent left center no-repeat;
}

div#tasks div.progress div.task div.content div.priority {
    float: right;
    font-weight: bold;
}

div#tasks div.progress div.task div.content div.priority.low {
    color: #87CC15;
}

div#tasks div.progress div.task div.content div.priority.medium {
    color: #ccb415;
}

div#tasks div.progress div.task div.content div.priority.height {
    color: #cc1d15;
}